body {
    background-color: #000;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 960px;
}

.text {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    min-height: 100px;
    white-space: pre-wrap;
    word-break: break-all;
}
