@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background: $bg;
    color: $text;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
}
